<div id="<%= dom_id note %>" class="note-item">
  <div class="note-header">
    <h3 class="note-title"><%= note.title %></h3>
    <div class="note-tags">
      <% note.tag_list.each do |tag| %>
        <span class="badge badge-primary"><%= tag %></span>
      <% end %>
    </div>
  </div>
  
  <div class="note-content">
    <%= note.content.to_plain_text.truncate(100) %>
  </div>
  
  <div class="note-actions">
    <%= link_to note_path(note), class: "btn btn-sm btn-outline" do %>
      <i class="fa-solid fa-eye"></i>
      View
    <% end %>
    
    <%= link_to edit_note_path(note), class: "btn btn-sm btn-outline", data: { turbo_frame: "modal" } do %>
      <i class="fa-solid fa-edit"></i>
      Edit
    <% end %>
  </div>
</div>