<h1>Notes Index</h1>

<% @notes.each do |note| %>

    <table>
      <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= note.title %></td>
            <td><div class="trix-content"><%= note["content"] %></div></td>
            <td><%= note.created_at.strftime("%b %d, %Y") %></td>
            <td><div class="delete"><%= button_to 'Delete', note, :method => :delete %></div></td>
            <td><div class="edit"><%= button_to 'Edit', edit_note_path(note), :method => :get %></div></td>
          </tr>
        </tbody>
    </table>
    <% end %>