<div id="<%= dom_id comment %>" class="comment-item">
  <div class="comment-header">
    <div class="comment-author">
      <i class="fa-solid fa-user-circle"></i>
      <span class="author-name">
        <%= comment.user&.email || "Unknown User" %>
      </span>
      <span class="comment-date">
        <%= comment.created_at&.strftime("%B %d, %Y at %I:%M %p") || "Unknown Date" %>
      </span>
    </div>
  </div>
  
  <div class="comment-content">
    <div class="trix-content"><%= comment.content %></div>
  </div>
  
  <% if comment.user == current_user %>
    <div class="comment-actions">
      <% if comment.commentable_type == "Note" %>
        <%= link_to edit_note_comment_path(comment.commentable, comment), 
            class: "btn btn-sm btn-outline", 
            data: { turbo_frame: "modal" } do %>
          <i class="fa-solid fa-edit"></i>
          Edit
        <% end %>
        
        <%= button_to note_comment_path(comment.commentable, comment), 
            method: :delete, 
            class: "btn btn-sm btn-danger",
            data: { confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash"></i>
          Delete
        <% end %>
      <% elsif comment.commentable_type == "BibleVerse" %>
        <%= link_to edit_bible_verse_comment_path(comment.commentable, comment), 
            class: "btn btn-sm btn-outline", 
            data: { turbo_frame: "modal" } do %>
          <i class="fa-solid fa-edit"></i>
          Edit
        <% end %>
        
        <%= button_to bible_verse_comment_path(comment.commentable, comment), 
            method: :delete, 
            class: "btn btn-sm btn-danger",
            data: { confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash"></i>
          Delete
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>