<div id="<%= dom_id comment %>" class="comment-item mb-2 p-2 bg-gray-50 rounded">
  <div class="comment-header text-xs text-gray-500 mb-1">
    <span class="author-name">
      <%= comment.user&.display_name || "Unknown User" %>
    </span>
    <span class="comment-date">
      • <%= time_ago_in_words(comment.created_at) %> ago
    </span>
    <% if current_user %>
      <span class="ml-2">
        <% if current_user.can_edit?(comment) %>
          <%= link_to "Edit", edit_comment_path(comment), 
              class: "text-blue-500 hover:text-blue-700",
              data: { turbo_frame: "modal" } %>
          <span class="mx-1">•</span>
        <% end %>
        <% if current_user.can_delete?(comment) %>
          <%= link_to "Delete", comment_path(comment), 
              class: "text-red-500 hover:text-red-700",
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% else %>
          <span class="mx-1">•</span>
          <%= link_to "Flag", "javascript:void(0)", 
              onclick: "flagContent('Comment', #{comment.id})",
              class: "text-yellow-600 hover:text-yellow-800" %>
        <% end %>
      </span>
    <% end %>
  </div>
  
  <div class="comment-content">
    <%= comment.content %>
  </div>
</div>