<%= turbo_frame_tag "modal" do %>
  <div class="modal-overlay" data-controller="modal">
    <div class="modal modal-md" data-modal-target="modal">
      <div class="modal-header">
        <h2 class="modal-title"><%= @verse_topic.explanation.present? ? "Edit Explanation" : "Add Explanation" %></h2>
        <%= link_to "×", "#", class: "modal-close", data: { action: "click->modal#closeModal" } %>
      </div>

      <div class="modal-body">
        <%= render 'edit_form', verse_topic: @verse_topic, topic_id: params[:topic_id] %>
      </div>
      
      <div class="modal-footer">
        <%= link_to 'Cancel', "#", class: 'btn btn-outline', data: { action: "click->modal#closeModal" } %>
      </div>
    </div>
  </div>
<% end %>
