<!DOCTYPE html>
<html>
  <head>
    <title>Compendium</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/b96b0b2690.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-container">
        <a href="/" class="nav-brand">
          <i class="fa-solid fa-books brand-icon"></i>
          Compendium
        </a>
        
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/notes" class="nav-link">Notes</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Topics</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Classes</a>
          </li>
          <li class="nav-item">
            <a href="bible_verses/books" class="nav-link">Bible</a>
          </li>
        </ul>
        
        <div class="nav-actions">
          <% if user_signed_in? %>
            <span class="user-info"><%= current_user.email %></span>
            <%= link_to 'Profile', edit_user_registration_path, class: 'btn btn-outline' %>
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
          <% else %>
            <%= link_to 'Log In', new_user_session_path, class: 'btn btn-outline' %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </nav>
    
    <main class="main-content">
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
